@use "../base/_fonts.scss";
@use "../base/_variables.scss";
@use "../base/_mixins.scss";

.about {
    padding-block: mixins.toRem(64);

    @include mixins.break(mobile) {
        padding-block: mixins.toRem(32);
    }

    &-inner {
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        gap: mixins.toRem(48);
        margin-top: mixins.toRem(48);

        @include mixins.break(mobile) {
            flex-direction: column;
        }
    }

    &-image {
        position: relative;
        flex: 1;
        overflow: hidden;

        img {
            display: block;
            width: 100%;
            height: auto;
        }
    }

    &-copy {
        flex: 1.5;

        @include mixins.break(tablet) {
            flex: 1;
        }

        p {
            max-width: 70ch;
            margin: 0 0 mixins.toRem(16) 0;

            &:last-of-type {
                margin: 0;
            }
        }

        a {
            color: variables.$white;
            text-decoration: underline;
            text-decoration-color: rgba(variables.$white, .6);
            transition: text-decoration-color .3s ease;


            &:hover {
            text-decoration-color: rgba(variables.$white, 1);
            }
        }
    }
}