@use "../base/_fonts.scss";
@use "../base/_variables.scss";
@use "../base/_mixins.scss";

.intro {
    min-height: 100vh;

    &-inner {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 100vh;
        padding-block: mixins.toRem(128) mixins.toRem(64);
    }

    &-title {
        text-align: center;

        h1 {
            font-size: mixins.toRem(112);
            line-height: 1;
            margin: 0 0 mixins.toRem(4) 0;

            @include mixins.break(tablet) {
                font-size: mixins.toRem(80);
            }

            @include mixins.break(mobile) {
                font-size: mixins.toRem(36);
            }
        }

        p {
            font-size: mixins.toRem(64);
            margin: 0;

            @include mixins.break(tablet) {
                font-size: mixins.toRem(48);
            }

            @include mixins.break(mobile) {
                font-size: mixins.toRem(24);
            }
        }
    }
}