---

---

<section id="about" class="about">
    <div class="container subhead">
        <h2>About</h2>
    </div>
    <div class="container">
        <div class="about-inner">
            <div class="about-image">
                <img
                    src="/images/about.jpg"
                    alt="Angie Hanshaw and her amazing dog, Nessie."
                />
            </div>
            <div class="about-copy">
                <p>
                    Hi! I&#8217;ve worked in web and print design, writing, and
                    editing, but front-end development with a focus on
                    accessibility and good UX has always had my heart, and has
                    been my main focus for the last ten years. In addition to
                    the basics (HTML, CSS, and JavaScript), I have React in my
                    toolbox, and I&#8217;ve created sites using Astro (including
                    this one!), Next.js, Craft CMS, WordPress, Shopify,
                    Opimizely/Episerver, and Umbraco.
                </p>
                <p>
                    I&#8217;m currently a Front-End Engineer at Clique Studios.
                    Previously, I was a Senior Front-End Developer at Adage
                    Technologies and a Senior Interactive Developer at Elevate.
                    I was also a mentor for new front-end developers at
                    Designation UI/UX design bootcamp.
                </p>
                <p>Blog posts I&#8217;ve written for Clique include <a target="_blank" rel="noreferrer noopener" href="https://laboratory.cliquestudios.com/project-detail-images/using-third-party-js-in-a-salesforce-lightning-web-component">Using Third-Party JS in a Salesforce Lightning Web Component</a>, <a target="_blank" rel="noreferrer noopener" href="https://laboratory.cliquestudios.com/project-detail-images/fun-with-intersection-observer">Fun with Intersection Observer</a>, and <a target="_blank" rel="noreferrer noopener" href="https://cliquestudios.com/clique-university/accessibility-tools-front-end">Two Accessibility Tools to Add to Your Front-End Checklist</a>.</p>
                <p>
                    And yes, I really like both otters and spectacularly
                    bad puns.
                </p>
            </div>
        </div>
    </div>
</section>
