---
import Otter from "../components/Otter.astro";
---

<section id="intro" class="intro">
    <div class="container intro-inner">
        <div class="intro-title">
            <h1>Angie Hanshaw</h1>
            <p>Front-End Developer</p>
        </div>
        <Otter />
    </div>
</section>
