@use "../base/_fonts.scss";
@use "../base/_variables.scss";
@use "../base/_mixins.scss";

body {
    @include fonts.font-regular;
    font-size: 1rem;
    line-height: 1.6;
    color: variables.$white;
    background-color: variables.$black;
}

h2 {
    position: relative;
    width: fit-content;
    font-size: mixins.toRem(48);
    margin: 0 auto;
    padding-inline: mixins.toRem(8);
    background-color: variables.$black;
}

p {
    font-size: mixins.toRem(18);
}

.container {
    width: calc(100% - mixins.toRem(96));
    max-width: mixins.toRem(1440);
    margin-inline: auto;

    @include mixins.break(laptop) {
        width: calc(100% - mixins.toRem(80));
    }

    @include mixins.break(tablet) {
        width: calc(100% - mixins.toRem(64));
    }

    @include mixins.break(mobile) {
        width: calc(100% - mixins.toRem(48));
    }
}

.container-narrow {
    width: calc(100% - mixins.toRem(96));
    max-width: mixins.toRem(1200);
    margin-inline: auto;

    @include mixins.break(laptop) {
        width: calc(100% - mixins.toRem(80));
    }

    @include mixins.break(tablet) {
        width: calc(100% - mixins.toRem(64));
    }

    @include mixins.break(mobile) {
        width: calc(100% - mixins.toRem(48));
    }
}

.subhead {
    position: relative;

    &::after {
        position: absolute;
        top: 50%;
        left: 0;
        content: '';
        width: 100%;
        height: 2px;
        background-color: variables.$white;
        z-index: -1;
    }
}